

<h1>Listing Employees</h1></br>
<% @employees=Employee.all %></br>
<% if flash[:notice] -%>
<div class="alert alert-info" style="width:30%">
  <strong>Done.</strong> <%= flash[:notice] %>
</div>
<% end %>

<table class="table table-hover table-bordered table-condensed table-responsive">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Position</th>
    <th>Start Date (Year-Month-Day)</th>
    <th>Action</th> 
  </tr>
<% @positions=Position.all %>
<% @employees.each do |e| %>
  <tr>
  <% if e[:end_date] == nil %>
  <% @e=e[:id] %>
  <% @p=Position.find(e[:position]) %>
    <td><%= e[:id] %></td>
    <td><%= e[:name] %></td>
    <td><%= @p[:desc] %></td>
    <td><%= e[:start_date] %></td>
    <td><%= link_to "Fire", controller: "employees", action: "fire", id: e[:id] %>
  <% end %>
  </tr>
<% end %>
</table>
  
